html, body {
    height: 100%;
}
header {
    display: flex;
    align-items: center;
    justify-content: center;
    color: blue;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin: 20px auto;
    border: solid aqua;
    padding: 10px;
    height: 70%;
}
.inputs {
    display: flex;
    width: 70%;
    gap: 30px;
}
.display-screen {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    border: solid blue;
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    padding-bottom: 0;
    font-size: larger;
    font-weight: bold;
    white-space: wrap;
}
button {
    background-color: blue;
    color: white;
    height: 50px;
    width: 50px;
    border-radius: 5px;
    padding: 5px;
    border: none;
}
.operation {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.digits {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    width: 50%;
}
button:hover {
    background-color: aqua;
    color: black;
}
.text {
    display: inline;
    white-space: nowrap;
}